
/* living cell display properties */
#cells-1 {
  background-color: purple;
}

/* dead cell (default) display properties */
#cells-0 {
  background-color: pink;
}

#size-25 {
  display: grid;
  grid-template-columns: repeat(25, 10px);
}

#size-50 {
  display: grid;
  grid-template-columns: repeat(50, 10px);
}

#size-75 {
  display: grid;
  grid-template-columns: repeat(75, 10px);
}